.c{
    width: 100%;
    height: 100px;
    background-color: ;
}

.overbar{
    margin-top: 10px;
    float: right;
    background-color: ;
}

.overbar li{
    list-style-type: none;
    display: inline;
    margin: 30px;
}

.overbar span{
    font-weight: 200;
    font-size: 15px;
}
